<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
   <proxies>
    <proxy>
      <active>false</active>
      <protocol>http</protocol>
      <host>proxy.logica.com</host>
      <port>80</port>
      <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
    </proxy>
  </proxies>
  <servers>
    <server>
      <username>deployer</username>
      <password>Heslo123!</password> 
      <id>project.site</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>all-repo</name>
      <url>http://hservices.nkp.cz/artifactory/all-repo</url>
      <id>all-repo</id>
    </mirror>
	<!--mirror>
	  <mirrorOf>*</mirrorOf>
      <name>remote-repos</name>
      <url>https://hservices.nkp.cz/artifactory/remote-repos</url>
      <id>remote-repos</id>
	</mirror-->
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
		  <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://hservices.nkp.cz/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://hservices.nkp.cz/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://hservices.nkp.cz/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://hservices.nkp.cz/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
